body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #1e1f24;
    margin: 0;
    padding: 0;
}

#container {
    text-align: left;
    padding: 0px;
    width: 70%;
    border: black solid 2px;
    margin: 0 auto;
}

#cabecera {
    background-image: url(dragon.webp) no-repeat center center;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0.5em;
    background-color: #33a;
    color: white;
    font-weight: bold;
}

#tagline {
    font-weight: normal;
    text-align: center;
    padding-left: 20%;
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}

#post {
    background-color: white;
    padding: 1em;
}